<!DOCTYPE html>
<html>
<head>
  <title>CSS Trashman</title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <meta name="description"
        content="Refactors your CSS and generates a new stylesheet for your site." />
</head>
<body>
<%= render "shared/header" %>
<%= render "shared/url" %>
<%= yield %>
<%= render "shared/footer" %>

<%= javascript_include_tag "application" %>
</body>
</html>
