<!DOCTYPE html>
<html>
<head>
  <title>Csstrashman</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
<%= render "shared/header" %>
<%= render "shared/url" %>
<%= yield %>
<%= render "shared/footer" %>

<%= javascript_include_tag "application" %>
<script type="text/javascript">
$(document).ready(function(){
  $("pre.cssCode").snippet("css",{style:"bright"});
  // Finds <pre> elements with the class "htmlCode"
  // and snippet highlights the HTML code within.
});
</script>
</body>
</html>
